.App {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  max-width: 35%;
}

label {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.error {
  color: red;
  font-size: 0.85rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

/* Utilities */

.mr-2 {
  margin-right: 5px;
}

.fa-check-circle {
  color: green;
}

small {
  color: grey;
  font-weight: 400;
}
