.App {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  max-width: 35%;
}

label {
  font-weight: bold;
  font-size: 0.8rem;
}

.error {
  color: red;
}

.form-control {
  display: flex;
  flex-direction: column;
}
